<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/chat.css" rel="stylesheet">
<body>
<section id="main">
    <div class="container h-100">
        <div id="mainRow" class="row h-100 ">
            <div class="col-lg-3 col-xl-3 col-md-2 col-2 px-0 usersArea">
                <ul class="list-group">
                {{#each users}}
                    <li id="user-{{this.user_id}}" class="list-group-item userArea" data-id="{{this.user_id}}">
                        <img class="img-fluid userImage" src="images/user-profile.png" />
                        <span class="userName">
                            {{this.name}}
                        </span>
                    </li>
                {{/each}}
                </ul>
            </div>
            {{#each users}}
            <div id="messageArea-{{this.user_id}}" class="col-lg-9 col-xl-9 col-10 col-md-10 px-0 messageWindow" style="display: none;">
                <div class="col-12 px-0" style="height: 10%;">
                    <img class="img-fluid titleImage" src="images/user-profile.png" />
                    <span class="titleName">{{this.name}}</span>
                </div>
                <div class="col-12 px-0 chatArea">
                    <ul class="list-group chat">
                        <li class="list-group-item typingNotification receivedMessage bg-transparent" style="display:none;">
                            <div>typing...</div>
                        </li>
                    </ul>
                    <div class="attachmentSelectArea">
                        <img class="img-fluid attachmentImage" />
                        <img src="/images/error.png" class="attachmentRemoveIcon img-fluid">
                    </div>
                </div>
                <div class="col-12 px-0 messageAreaBottom">
                    <input type="file" class="fileInput" accept="image/jpg,image/jpeg,image/png,image/gif,image/bmp">
                    <input id="message-{{this.user_id}}" class="messageInput" placeholder="Type a message" maxlength="500" />
                    <button class="addAttachment">
                        <i aria-hidden="true" class="fa fa-paperclip"></i>
                    </button>
                    <button class="sendButton">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/xss.min.js"></script>
<script>
    const socket = io();
    let to;
    let chatList = {{{json chat}}};
    let attachments = {};

    socket.emit('init', true);

    //region Methods
    function scroll(window) {
        let scroll = $('#messageArea-'+window+' .chatArea');
        scroll.animate({scrollTop: scroll[0].scrollHeight});
    }

    function insertMessage(window, msg, sender){
        let html = '<li class="list-group-item '+sender+' bg-transparent">' +
                '   <div>'+msg+'</div>' +
                '</li>\n';
        let element = $('#messageArea-'+window+' .chat .typingNotification');

        element.before(html);

        scroll(window);
    }

    function sendMessage(){
        let element = $('#message-'+to);
        let msg = element.val();
        let key = Date.now() + "|" + {{me.id}} + "|" + msg;
        let file = $('#messageArea-'+to+' .fileInput');
        let obj = {
            to: to,
            msg: msg,
            from: {{me.id}},
            key: key
        };

        if(msg.length === 0) return;

        element.val('');

        if(file.val().length > 0) obj.file = attachments[to];
        $('#messageArea-'+to+' .attachmentRemoveIcon').click();

        socket.emit('send private message', obj);

        msg = filterXSS(msg);
        insertMessage(to, msg, "sentMessage");
    }
    //endregion

    //region jQuery events
    //hansısa user-ə click edəndə çatın açılması
    $('.userArea').on('click', function () {
        let element = $(this);

        to = element.data('id');

        element.addClass('active').siblings().removeClass('active');

        $('.messageWindow').hide();
        $('#messageArea-'+to).show();
    });

    //region Attachment
    //region click
    $('.addAttachment').on('click', function () {
        $('#messageArea-'+to).find('.fileInput').click();
    });
    //endregion

    //region listener
    $('.fileInput').on('change', function () {
        let input = this;

        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function(e) {
                $('#messageArea-'+to+' .attachmentSelectArea').show();
                $('#messageArea-'+to+' .attachmentImage').attr('src', e.target.result);
                attachments[to] = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);

            scroll(to);
        }
    });
    //endregion

    //region delete
    $('.attachmentRemoveIcon').on('click', function () {
        let elem = $(this);

        elem.removeAttr('src');
        elem.parent().hide();

        $('#messageArea-'+to).val('');
        delete attachments[to];
    });
    //endregion
    //endregion

    //göndər
    $('.sendButton').on('click', function () {
        sendMessage();
    });

    //enterə basıb göndərilmə və typing özəlliyi
    $('.messageInput').keypress(function (e) {
        let key = e.which;

        if(key === 13) sendMessage();
        else {
            socket.emit('SEND_TYPING_STATUS', to);
        }
    });
    //endregion

    //region Socket
    socket.on('receive private message', (data) => {
        insertMessage(data.from, data.msg, "receivedMessage");

        // mesaj açıq olmayan çatdan gəlibsə
        if(!to || (data.from.toString() !== to.toString())){
            let audio = new Audio('/res/audio/ding.mp3');
            audio.play();

            function makeNotification(){
                let notification = new Notification(chatList[data.from], {
                    body: data.msg,
                    icon: '/images/user-profile.png'
                });

                notification.onclick = function () {
                    $('#user-'+data.from).click();
                };
            }

            // This browser does not support desktop notification
            if (!("Notification" in window)) {}
            else if (Notification.permission === "granted") {
                makeNotification();
            }
            else if (Notification.permission !== "denied") {
                Notification.requestPermission().then(function (permission) {
                    if (permission === "granted") {
                        makeNotification();
                    }
                });
            }
        }
    });

    socket.on('RECEIVE_TYPING_STATUS', (from) => {

        if(!to || (from.toString() !== to.toString())) return;

        let element = $('#messageArea-'+to+' .typingNotification');

        element.show();

        scroll(to);

        setTimeout(()=>{
            element.hide();
        }, 1000);
    });
    //endregion
</script>
</body>
</html>