<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Chat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Real time chat!</h1>
        </div>
        <div class="col-4 offset-4">
            <form method="post" action="/login">
                <div class="input-group my-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" value="nicat" name="username" class="form-control" placeholder="Username" aria-label="Username"
                           aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input type="password" value="123456" name="pass" class="form-control" placeholder="Password"
                           aria-label="Recipient's username" aria-describedby="basic-addon2">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/sign-up" class="my-1 mx-3">Create a new account</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>