* {
    -webkit-transition: ease all .3s;
    -moz-transition: ease all .3s;
    -ms-transition: ease all .3s;
    -o-transition: ease all .3s;
    transition: ease all .3s;
}

body {
    background-color: #F5F5F5;
}

#main {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 30px;
}

#mainRow {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.messageWindow {
    max-height: 100%;
}

.chat {
    padding-top: 10px;
}

.typingNotification {
    display: none;
}

.chat > li {
    padding-top: 0;
    padding-bottom: 2px;
}

.chat > li > div {
    max-width: 50%;
}

.chatArea {
    overflow-y: auto;
    height: 85%;
    max-height: 85%;
    background-color: #eaeaea;
}

.attachmentSelectArea {
    display: none;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
}

.attachmentImage {
    width: 30%;
    height: 30%;
}

.usersArea {
    background-color: #305F72;
    border-top-left-radius: 5px;
}

.userArea:first-child {
    border-top-left-radius: 5px !important;
}

.userArea {
    cursor: pointer;
    border: none;
    border-radius: 0 !important;
    color: #F5F5F5;
    background-color: transparent;
}

.userArea.active, .userArea:hover {
    background-color: #568EA6;
}

.sentMessage {
    border: none;
}

.receivedMessage {
    border: none;
}

.sentMessage div {
    background-color: #2ecc71;
    float: right;
}

.receivedMessage div {
    background-color: #3498db;
}

.sentMessage div, .receivedMessage div {
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 10px;
    color: #f5f5f5;
    display: table;
    word-break: break-all;
}

.titleImage {
    height: 100%;
    padding: 10px;
    border-radius: 50%;
}

.titleName {
    font-size: x-large;
    font-weight: lighter;
}

.userName {
    padding-left: 10px;
    font-size: x-large;
    font-weight: lighter;
}

.userImage {
    width: 20%;
    border-radius: 50%;
}

.messageAreaBottom {
    height: 5%;
    background-color: white;
}

.messageInput {
    width: 90%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.addAttachment, .sendButton {
    height: 100%;
    color: #305F72;
    border: none;
    background-color: transparent;
}

.addAttachment:focus, .sendButton:focus {
    outline: none;
}

.addAttachment {
    width: 4%;
}

.fileInput {
    display: none;
}

.sendButton {
    float: right;
    width: 5%;
}

@media only screen and (max-width: 992px) {
    .titleName {
        font-size: x-large;
        margin-left: 30px;
    }

    .titleImage {
        display: none;
    }

    .userName {
        display: none;
    }

    .userImage {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .titleName {
        font-size: larger;
    }
}

@media only screen and (max-width: 576px) {
    .titleName {
        font-size: large;
    }
}